<launch>
    <arg name="video_namespace" default="/head_mount_kinect2/qhd"/>
    <arg name="video_image_topic" default="image_color_rect"/>
    <arg name="rgb_frame_id" default="kinect2_nonrotated_link"/>
    <arg name="rgb_frame_id_ros" default="head_mount_kinect2_link"/>

    <arg name="model" default="mobilenet_thin" />
    <arg name="resolution" default="432x368" />
    <arg name="camera" default="head_mount_kinect2/qhd/image_color_rect"/>

    <include file="$(find human_perception)/launch/gaze_estimation.launch">
        <arg name="video_namespace" value="$(arg video_namespace)"/>
        <arg name="video_image_topic" value="$(arg video_image_topic)"/>
        <arg name="rgb_frame_id" value="$(arg rgb_frame_id)"/>
        <arg name="rgb_frame_id_ros" value="$(arg rgb_frame_id_ros)"/>
    </include>

    <include file="$(find human_perception)/launch/body_perception.launch">
        <arg name="model"  value="$(arg model)" />
        <arg name="resolution"  value="$(arg resolution)" />
        <arg name="camera"  value="$(arg camera)" />
    </include>

    <node pkg="human_perception" type="human_merger.py" name="human_merger" output="screen"/>

</launch>
