<launch>
    <arg name="model" default="mobilenet_thin" />
    <arg name="resolution" default="432x368" />
    <arg name="camera" default="head_mount_kinect2/qhd/image_color_rect"/>
    <arg name="viz" default="True" />
    <arg name="uwds" default="True" />

    <include file="$(find human_perception)/launch/body_perception.launch">
        <param name="model"  value="$(arg model)" />
        <param name="resolution"  value="$(arg resolution)" />
        <param name="camera"  value="$(arg camera)" />
    </include>

    <!-- Only publish markers for vizualisation -->
    <node pkg="human_viz" type="body_viz.py" name="body_viz" output="screen" if="$(arg viz)"/>

    <!-- Bridge to UWDS -->
    <node pkg="uwds_human_clients" type="uwds_human_bridge.py" name="uwds_body_bridge" output="screen" if="$(arg uwds)"/>
    
</launch>
